
 <p>
  <strong>Place_name:</strong>
  <%= @places.place_name %>
</p>

<p>
  <strong>Company_id:</strong>
  <%= @places.company_id %>
</p>
<%= link_to 'Edit', edit_place_path %>
<%= link_to 'Back',  new_place_path %>
 
